:root{
    --bgEsquerdo: #fc7168; 
    --bgDireito: #e0e0e0;  
}

*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-------------LADO ESQUERDO------------------*/
.containerPrincipal {
    display: flex;
    height: 100vh; 
}

.mainHeader{
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: var(--bgEsquerdo);
    padding-bottom: 20px;
    width: 100%;
}

.ladoEsquerdo {
    width: 60%;
    background-color: var(--bgEsquerdo);
    padding: 0 10px 10px 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainHeader h1 {
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
}

.containerPesquisa {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
}

.containerPesquisa input {
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.filtroBtn {
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

/*-------------GRID POKEMONS------------------*/
.pokedexGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding: 15px;
}

/*-------------GRID JS------------------*/
.pokemonCard{
    max-width: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--bgDireito);
    border-radius:  15px;
    cursor: pointer;
    text-transform: capitalize;
}

.pokemonCard:hover{
    transform: scale(1.10);
}

/*-------------LADO DIREITO------------------*/
.ladoDireito {
    width: 40%;
    background-color: var(--bgDireito);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.infoDetalhada {
    background-color: white;
    width: 100%;
    height: 80%;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    overflow-y: auto
}

.infoDetalhada img{
    max-width: 220px;
    width: 100%;
    margin: 0 auto;
    display: block;
}

.tipos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-transform: capitalize;
    gap: 20px;
}

.infoDetalhada h3{
    text-transform: capitalize;
    text-align: center;
}

.infoCorpo{
    display: flex;
    justify-content: space-around;
}

.corpo{
    display: flex;
    flex-direction: column;
    text-align: center;
}

/*-------------BARRA DE STATUS------------------*/
.status{
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.statNome{
    text-transform: capitalize;
}

.statBarBg {
    background-color: #f2f2f2;
    height: 8px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden; 
}

.statBarraPreenchimento {
    background-color: #4CAF50;
    height: 100%;
    border-radius: 10px;
    transition: width 0.4s ease-out;
}